:root {
    --themeYellow: #FFD83C;
    --themeGray: #2d2d2d;
}

body {
    margin: 0;
    padding: 0;
}

.welcome-screen {
    background-image: url('imgs/merkaz.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    text-align: center;
    position: relative;
    color: white;
}

h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

.projects-section {
    height: 100vh;

    background-color: white;
    text-align: center;
    padding-top: 20px;
    background-size: cover;
}

h2 {
    font-size: 3em;
}






.merkaz1Parent {
    display: flex;
    height: 40vh;
    /* background-image: url("imgs/layered-waves.svg");
    background-size: cover; */
    /* outline: 5px solid black; */
    width: 90%;
    margin: 0 auto;
    /* background-color: var(--themeYellow); */
    /* background-image: url("imgs/blob-scatter2.svg"); */
    background-size: cover;
    border-radius: 11px;

    /* color:white; */

}

.div1 {
    width: 60%;
    padding-right: 20px;
    /* margin-right: 5%; */
}

.div3 {
    width: 40%;
    /* margin-left: 5%; */
    margin-right: 5%;
    border: 7px solid var(--themeYellow);
    border-radius: 11px;
    background-image: url("imgs/merkaz1.jpg");
    background-size: cover;
}

.sadna1Parent {
    display: flex;
    height: 40vh;
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    /* background-image: url("imgs/blob-scatter1.svg"); */
    background-size: cover;
    border-radius: 11px;
    /* color:white; */

}

.projects-section h3 {
    font-size: 3em;
}

.projects-section p {
    font-size: 1.5em;
    text-align: right;
}

.div2 {
    width: 60%;
    padding-right: 20px;
    margin-left: 2%;

}

.div4 {
    width: 40%;
    margin-left: 5%;
    border: 7px solid var(--themeYellow);
    border-radius: 11px;
    background-image: url("imgs/merkaz1.jpg");
    background-size: cover;
}

.content-section {
    height: 100vh;
    background-size: cover;
    text-align: center;
    /* padding-top: 20px; */
    margin-top: 20px;
    border-top: var(--themeYellow) solid 10px;
    border-bottom: var(--themeYellow) solid 10px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: var(--themeYellow);
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-img-btn {
    background-color: white;
    border: none;
    padding: 0;
    width: 100%;
    height: 49.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 5em;
}

.large-img-btn:hover {
    cursor: pointer;
    background-color: lightgoldenrodyellow;
}

.large-img-btn:active {
    background-color: var(--themeYellow);
}

.large-img-btn img {
    width: 80%;
    height: auto;
}

.large-img-btn p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
}



.contact-section {
    margin-top: 0%;
    height: 90vh;
    background-color: white;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}



.footer-distributed {
  background-color: var(--themeGray);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: left;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}